* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

:root {
  --gray: rgb(49, 52, 61);
  --lightblue: rgb(146, 204, 206);
  --bgcolor: rgb(238, 238, 247);
  --darkblue: rgb(68, 88, 119);
}

.header {
  background-color: var(--gray);

  height: 75px;
}

h1 {
  color: var(--gray);
  background-color: var(--lightblue);
  width: 220px;
  text-align: right;
}

ul {
  text-align: right;
  list-style-type: none;
  overflow: hidden;
  padding-bottom: 15px;
  margin-right: 100px;
}

li {
  display: inline;
}

li a {
  padding: 8px;
  color: var(--lightblue);
  font-family: helvetica;
  font-size: 18px;
  text-decoration: underline;
}

li a:hover {
  background-color: var(--lightblue);
  color: var(--gray);
}

.banner-image {
  height: 37%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* max-width: 100%; */
}

.banner-text {
  text-align: right;
  position: absolute;
  top: 85%;
  right: 10%;
  font-size: 25px;
  color: var(--gray);
  background-color: var(--lightblue);
  padding: 7px;
}

#container {
  background-color: var(--bgcolor);
  padding: 0;
}

h2 {
  text-align: right;
  width: 125px;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  font-size: 35px;
  color: var(--darkblue);
  margin-left: 50px;
}

p,
.work,
.contact {
  text-align: left;
  padding: 5px;
  margin-left: 195px;
  width: 82%;
  background-color: pink; /* placeholder color */
}
