* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
:root {
  --gray: #354649;
  --lightblue: #eafdfc;
  --bgcolor: #e0e7e9;
  --darkblue: #204051;
  --sage: #84a9ac;
  --mint: #cae8d5;
  --teal: #3b6978;
}

body {
  background-color: var(--bgcolor);
}
/* nav bar */
header {
  background-color: var(--gray);
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.mh-title {
  width: 25%;
  padding-top: 10px;
  height: calc(100% - 17px);
}

.menu h2 {
  font-family: poppins;
  color: var(--gray);
  text-align: right;
  background-color: var(--lightblue);
  padding: 3px;
  font-size: 2em;
}

nav {
  margin-right: 10%;
}

nav ul {
  text-align: right;
  list-style-type: none;
  overflow: hidden;
  padding-top: 25px;
  height: calc(100% - 25px);
}

nav ul li {
  display: inline;
  padding: 0 10px 3px 10px;
  border-bottom: 3px solid var(--lightblue);
  margin: 0 3px 0 3px;
}

nav ul li a {
  font-size: 18px;
  color: var(--lightblue);
  font-family: helvetica;
  text-decoration: none;
  margin-bottom: 3px;
}

li a:hover {
  background-color: var(--lightblue);
  color: var(--gray);
}

/* Banner image with text below the nav */
.banner-image-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  height: 500px;
}

.banner-text {
  display: inline-block;
  text-align: left;
  position: absolute;
  right: 10%;
  bottom: 30px;
  color: var(--darkblue);
  background-color: var(--bgcolor);
  padding: 7px;
  z-index: 2;
}
.banner-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

html {
  color-scheme: dark light;
}

img {
  max-width: 100%;
  display: block;
}

/* pop out image */
.person {
  --transform-speed: 250ms;
  position: relative;
  max-width: 15rem;
  margin-inline: auto;
  top: -515px;
}
.person_container {
  aspect-ratio: 1 / 1.35;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease-in-out;
}
.person_container:hover {
  transform: scale(1.1);
}

.person_circle {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: 50%;
  object-fit: cover;
}

.person_img {
  position: relative;
  left: 3.5em;
  z-index: 2;
  width: 60%;
  transform: scale(1.5);
  transition: transform var(--transform-speed) ease-in-out;
}
.person_container:hover .person_img {
  transform: scale(1.4) translateY(-1rem);
}

/* Main body container  */
#container {
  width: 80%;
  left: 10%;
  position: absolute;
  display: inline-block;
}

/* This class is used for all three sections in body  */
.content-title {
  /* width: 15%; */
  border-right: 5px solid var(--darkblue);
  font-size: 1.2em;
  text-align: right;
}

h2 {
  text-align: right;
  color: var(--darkblue);
  padding-right: 20px;
}

/* This class is used for all three sections in body  */
.content-box {
  width: 85%;
  float: left;
  padding-left: 18px;
}

/* content-text class used in all three sections in body  */
.content-text p,
.work {
  text-align: left;
  padding-left: 15px;
  color: var(--darkblue);
  font-size: 15px;
  position: relative;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

/* turns into flexbox  */
.content-flex {
  display: flex;
}

/* larger first app image and link */
.img100 {
  width: calc(100% - 26px);
}

.img-content {
  position: relative;
  margin: 8px;
  border: 5px solid var(--sage);
}

/* class used for each image label  */
.grid-label {
  display: block;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 15px;
  color: var(--lightblue);
  background-color: var(--sage);
  padding: 7px;
  z-index: 2;
}

/* class used for each image label  */
.grid-label h4 {
  font-weight: bold;
  font-size: 18px;
}

.grid-label p {
  font-size: 10px;
  font-weight: bolder;
}

/* class used for each image inside the img tag */
.grid-img {
  width: 100%;
  display: block;
  opacity: 50%;
  z-index: 1;
}

.grid-img:hover {
  opacity: 100%;
  transition: 0.3s;
}

/* class used for the four smaller images in work section*/
.img50 {
  width: calc(50% - 26px);
}

/* Contact me section */
.content-contact {
  width: calc(100% - 14px);
  display: inline-flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 7px;
}

.content-contact p {
  display: inline;
  border-bottom: 3px solid var(--darkblue);
  color: var(--darkblue);
  font-weight: bold;
  margin: 35px 0;
  text-align: center;
  padding: 5px;
}

.content-contact p a {
  text-decoration: none;
  color: var(--darkblue);
}

.content-contact p a:hover {
  background-color: var(--lightblue);
}

/* adjusts font and space sizing of the header, about me, and contact sections*/
@media screen and (max-width: 992px) {
  .mh-title {
    padding-top: 19px;
    height: calc(100% - 19px);
  }

  h1 {
    font-size: 1.5em;
  }

  .banner-text h3 {
    font-size: 16px;
  }

  .content-title {
    font-size: 0.8em;
  }

  .content-contact p {
    font-size: 14px;
  }
}

/* Large smartphones - changes Work images to become equally sized and in a column */
@media screen and (max-width: 768px) {
  .mh-title {
    padding-top: 25px;
    height: calc(100% - 25px);
  }

  h1 {
    font-size: 1.2em;
  }
  .content-title {
    font-size: 0.6em;
  }

  nav ul li a,
  .banner-text h3 {
    font-size: 15px;
  }
  nav {
    margin-right: 2.5%;
  }
  .banner-text {
    right: 2.5%;
    bottom: 20px;
  }

  #container {
    width: 95%;
    left: 2.5%;
  }

  .img50 {
    width: calc(100% - 26px);
  }
}

/* Small smartphones - adjusts font size and image widths to fit screen  */
@media screen and (max-width: 576px) {
  .mh-title {
    padding-top: 27px;
    height: calc(100% - 27px);
  }

  h1 {
    font-size: 1em;
  }

  nav {
    margin-right: 1%;
  }

  nav ul li a {
    font-size: 10px;
  }

  .banner-text {
    right: 1%;
  }

  .banner-text h3 {
    font-size: 12px;
  }

  #container {
    width: 98%;
    left: 1%;
  }

  .content-title {
    font-size: 9px;
  }

  .content-text p {
    font-size: 14px;
  }

  .img50 {
    width: calc(100% - 26px);
  }

  .content-contact p {
    font-size: 11px;
  }
}

/*  */
